.message
  .upper-info
    %p.upper-info__user
      = message.user.name
    %p.upper-info__date
      = message.created_at
  %p.message__text
    = message.body
    = image_tag message.image.url class: 'message__text__image' if message.image.present?